@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0D1117;
    color: white;
}

/* Kaydırma çubuğu ayarları */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0d1117; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 4px; }